<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Burger Time!</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="/static/assets/css/burger_style.css" type="text/css" />
</head>

<body>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 rossorigin="anonymous"></script>
	<script src="/static/assets/js/burgers.js"></script>


	<nav class="navbar navbar-light bg-light">
		<div class="container">
			<span class="navbar-brand mb-0 h1">Burger Time!</span>
		</div>
	</nav>
	<div class="content container">
		{{{ body }}}
	</div>
	<footer class="footer bg-light fixed-bottom">
		<div class="container text-center text-md-left">
			<div class="footer-copyright text-center mt-1">
				<span class="muted-text">Copyright, Ian Nelson, 2018 ©</span>
			</div>
		</div>
	</footer>
</body>

</html>