<li class="list-group-item">
	<button class="btn btn-sm btn-info btn-burger" data-id="{{id}}" data-devoured="{{devoured}}">{{#if devoured}}TRASH!{{else}}DEVOUR!{{/if}}</button> <span class="burger-text">{{burger_name}}</span>
</li>
